h1 {
  font-size: 20px !important;
}

h2, .navbar .navbar-brand{
  font-size: 18px !important;
}

h3 {
  font-size: 16px !important;
}

h4 {
  font-size: 14px !important;
}

.home .full {

  section #home-search{
  width: 100%;
  form {
    min-width: 90%;
    margin: 0 auto;
    input {
      min-width: 100%;
      height: 40px;
      font-size: 1em;

    }
    span.glyphicon-search {
      font-size: 14px;
      right: 8px
    }

  }
  }

  section:nth-child(3) {
    display: none
  }

}

.mp .header .image {
  display: none;
}

.about-page-wrapper {
  max-width: 100%;
  .jumbotron {
    padding: 10px 15px;
  }
}

.stats .header form {
  select,
  fieldset label {
    font-size: 12px;
  }
}